

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  height: 15em;

  .intro-text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    h4 {
      padding-bottom: 20px;
      color: blue;
      font-size: 22px;
      align-self: flex-start;
    }

    p {
      font-size: 40px;
    }

    span {
      color: blue;
    }
  }

  .intro-qoute {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: grey;
    font-size: 18px;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 1em;
    padding: 1em;
    width: 100%;
    height: 125em;
    
    & > * {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
    
    .one {
      background-image: url("../images/Rectangleone.png");
      grid-row: 1 / 8 ;
      grid-column: 1 / 4 ;
    }
    
    .two {
      background-image: url("../images/Rectangletwo.png");
      grid-row: 8 / 16 ;
      grid-column: 1 / 4 ;
    }
    
    .three {
      background-image: url("../images/Rectanglethree.png");
      grid-row: 16 / 24 ;
      grid-column: 1 / 4 ;
    }
    
    .four {
      background-image: url("../images/Rectanglefour.png");
      grid-row: 24 / 32 ;
      grid-column: 1 / 4 ;
    }
    
    .five {
      background-image: url("../images/Rectanglefive.png");
      grid-row: 1 / 7 ;
      grid-column: 4 / 7 ;
    }
    
    .six {
      background-image: url("../images/Rectanglesix.png");
      grid-row: 7 / 14 ;
      grid-column: 4 / 7 ;
    }
    
    .seven {
      background-image: url("../images/Rectangleseven.png");
      grid-row: 14 / 23 ;
      grid-column: 4 / 7 ;
    }
    
    .eight {
      background-image: url("../images/Rectangleeight.png");
      grid-row: 23 / 32 ;
      grid-column: 4 / 7;
    }
    
    .nine {
      background-image: url("../images/Rectanglenine.png");
      grid-row: 1 / 11 ;
      grid-column: 7 / 10 ;
    }
    
    .ten {
      background-image: url("../images/Rectangleten.png");
      grid-row: 11 / 16 ;
      grid-column: 7 / 10 ;
    }
    
    .eleven {
      background-image: url("../images/Rectangleeleven.png");
      grid-row: 16 / 27 ;
      grid-column: 7 / 10 ;
    }
    
    .twelve {
      background-image: url("../images/Rectangletwelve.png");
      grid-row: 27 / 32 ;
      grid-column: 7 / 10 ;
    }
  }
  .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 10em;
  }

  .info-text {
    font-size: 28px;
  }

  

  .services-lists {
    display: flex;
  
    ul {
      list-style: none;
      
  
      li {
        padding: 1em 0em 0em 1em;
      }
  
      a {
        text-decoration: none;
        color: black;
      }
    }
  }


.grid-awwwards-container {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: white;
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
    padding-top: 2em;
}

.awwwards {
    grid-row: 1;
    grid-column: 1;
}

.sod {
    grid-row: 1;
    grid-column: 3;
}

.bn {
    grid-row: 4;
    grid-column: 3;
}

.guk {
    grid-row: 1;
    grid-column: 4;
}

.gt {
    grid-row: 4;
    grid-column: 4
}

.year-one {
    grid-row: 1;
    grid-column: 6;
}

.year-two {
    grid-row: 4;
    grid-column: 6;
}


.grid-cssda-container {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: white;
    border-bottom: 2px lightgray solid;
    padding-top: 2em;
}

.cssda {
    grid-row: 1;
    grid-column: 1;
}

.sod2 {
    grid-row: 1;
    grid-column: 3;
}

.bn2 {
    grid-row: 4;
    grid-column: 3;
}

.guk2 {
    grid-row: 1;
    grid-column: 4;
}

.gt2 {
    grid-row: 4;
    grid-column: 4
}

.year-three {
    grid-row: 1;
    grid-column: 6;
}

.year-four {
    grid-row: 4;
    grid-column: 6;
}

.grid-awwwards-container h5 {
    padding-bottom: 20px;
} 

.grid-cssda-container h5 {
    padding-bottom: 20px;
}
