@import '_nav.scss';
@import '_main.scss';
@import '_footer.scss';
@import 'fonts.scss';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 6em 0 6em;
    height: 100%;
}
